[Unit]
Description=My Web Application
ConditionPathExists=/opt/csye6225/webapp1/

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp1
ExecStart=/usr/bin/node /opt/csye6225/webapp1/index.js
Restart=always

[Install]
WantedBy=multi-user.target cloud-init.target